.tag {
    position: relative;
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #410c0c;
    text-align: center;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.tag_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #410c0c;
    pointer-events: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.tag_text span {
    white-space: nowrap;
    display: block;
}

.tag_image_flipped {
    transform: scaleX(-1);
}

@media screen and (max-width: 767px) {
    .tag {
        font-size: 15px;
    }

    .tag_text {
        font-size: 15px;
    }
}
