.input__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input__hints {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.input__label {
    color: var(--Black-600, #000);
    font-family: IgraSans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.25px;
    margin: 0 0 8px 0;
}

.input__field {
    width: 100%;
    height: 64px;
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #000000;
    background-color: #eae2dd;
    border: none;
    border-radius: 2px;
    padding: 16px 22px;
    box-sizing: border-box;

    &::placeholder {
        color: rgba(65, 12, 12, 0.5);
    }

    &:focus {
        outline: none;
    }
}

.input__error {
    color: #ea4335;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    display: block;
    margin: 0 0 8px 0;
}

.input__field:read-only:focus {
    outline: none;
}

.input__field_color_black {
    background-color: #0c0c0c;
    color: #9ca3af;
}

.input__field_color_black:focus {
    color: #fff;
    outline: none;
}

.input__field_color_black:invalid {
    color: #ea4335;
}

.input__field_invalid {
    border: 1px solid #ea4335 !important;
}

.input__span {
    color: #9ca3af;
    font-size: 14px;
    line-height: 18px;
}

.input__button {
    position: absolute;
    top: 55px;
    right: 25px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

.input__button:hover {
    opacity: 0.6;
}

.input__field_type_date {
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .input__label {
        font-size: 14.06px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .input__field {
        height: 50px;
        font-size: 18px;
        padding: 12px 16px;
    }

    .input__button {
        top: 35px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
}
