@font-face {
    font-family: 'Fixedsys';
    src: url('./Fixedsys/FSEX300.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IgraSans';
    src: url('./IgraSans/IgraSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
