@font-face {
    font-family: 'Fixedsys';
    src: url('./Fixedsys/FSEX300.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IgraSans';
    src: url('./IgraSans/IgraSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* News – 350 */
@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-News.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-NewsItalic.ttf') format('truetype');
    font-weight: 350;
    font-style: italic;
    font-display: swap;
}

/* Regular – 400 */
@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium – 500 */
@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Bold – 700 */
@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Black – 900 */
@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoodHeadPro';
    src: url('./GoodHeadPro/GoodHeadPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
