.card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.image_wrapper {
    position: relative;
    flex-shrink: 0;
}

.image {
    object-fit: contain;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 397px;
}

.tags_container {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.tags_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tag {
    font-family: 'Fixedsys', monospace;
    font-size: 31px;
    font-weight: 400;
    line-height: 1em;
    color: #410c0c;
    padding: 0;
    margin: 0;

    &:first-child {
        color: #86020f;
    }
}

.tag_tesol {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #410c0c;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.name {
    font-family: 'Fixedsys', monospace;
    font-size: 40px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.description {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #410c0c;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_label {
    font-family: 'Fixedsys', monospace;
    font-size: 31px;
    font-weight: 400;
    line-height: 1em;
    color: #410c0c;
}

.section_text {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #410c0c;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .card {
        flex-direction: column;
        gap: 20px;
    }

    .card_content {
        width: 100%;
        max-width: 100%;
        order: 2;
    }

    .image_wrapper {
        order: 1;
        margin-top: 0;

        img {
            width: var(--mobile-image-width) !important;
            height: var(--mobile-image-height) !important;
        }
    }

    .name {
        font-size: 20px;
        text-align: center;
    }

    .tag,
    .section_label {
        font-size: 20px;
    }

    .description,
    .section_text {
        font-size: 12px;
    }

    .tag_tesol {
        font-size: 12px;
    }
}
