.card {
    position: relative;
    width: 495.24px;
    height: 641px;
    display: flex;
    flex-direction: column;
}

.computer_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

.card_content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 24px 0 30px 0;
}

.card_title {
    font-family: 'IgraSans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #fff9f5;
    margin: 0;
}

.card_tag {
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #9ec4df;
    margin-bottom: 75px;
    text-align: left;
}

.card_features {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #410c0c;
    text-align: center;
    margin: 68px 0 0 0;
    width: 100%;
}

.card_price {
    font-family: 'GoodHeadPro', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2em;
    color: #86020f;
    margin: 25px 0 50px 0;
}
