.header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #fff9f5;
    border-bottom: 1px solid #410c0c;
}

.header_dark {
    background: #e3e5e4;
}

.header__burger__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header__container {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 21px 41px;
    height: 110px;
    box-sizing: border-box;
}

.header__logo {
    width: 206px;
    height: 58px;
}

.header__links {
    display: flex;
    gap: 0;
    text-decoration: none;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    margin-left: 132px;
}

.header__link {
    font-family: 'Golos Text', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em;
    text-decoration: none;
    color: #410c0c;
    padding: 0;
    text-align: left;
    border: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.header__link:not(:last-child) {
    margin-right: 111px;
}

.header__link:nth-child(2) {
    margin-right: 112px;
}

.header__link:nth-child(3) {
    margin-right: 153px;
}

.header__link:hover {
    opacity: 0.7;
}

.header__link_orange {
    color: #f08b23 !important;
}

.header__link_orange:hover {
    border-color: #f08b23;
}

.header__search__container {
    display: flex;
    gap: 45px;
    align-items: center;
    align-self: center;
}

.header__search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 300px;
    height: 45px;
    border-radius: 40px;
    border: 1px solid var(--Black_text, #0f100f);
}

.header__search_input {
    background-color: transparent;
    border: none;
    color: var(--grey, #797979);
    font-family: IgraSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 300px;
    width: 100%;
    outline: none;
}

.header__search_button_search {
    margin: 0 8px 0 12px;
}

.header__profile_icon {
    width: 22px;
    height: 26px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.whatsapp {
    // padding: 0 0 30px 0;
    align-self: center;
}

.header__burger__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1023px) {
    .header__links {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .header__container {
        padding: 15px 20px;
        height: auto;
    }

    .header__logo {
        width: 138px;
        height: 55px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 0;
    }

    .header__container {
        max-width: 100%;
        padding: 15px 20px;
        height: 60px;
    }

    .header__links {
        display: none;
    }

    .header__logo {
        width: 138px;
        height: 55px;
    }

    .header__profile_icon {
        width: 15px;
        height: 15px;
    }

    .whatsapp {
        padding: 0;
    }
}
