.page {
    margin: 0 auto;
}

.main {
    width: 100%;
    margin: 0 auto;
    background: #fff9f5;
}

.container {
    // max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    // height: 100vh;
}

.form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.title {
    font-family: IgraSans;
    font-size: 36px;
    font-weight: 700;
    line-height: 54.85px;
    text-align: center;
    letter-spacing: 0%;
    padding: 40px 0 0 0;
    margin: 0;
    width: 100%;
}

.subtitle {
    font-size: 55px;
    color: #fff;
    text-align: center;
}

.subtitle_2 {
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.timer {
    font-size: 95px;
    color: #fff;
}

.notFound {
    width: 100%;
    min-height: 650px;
    margin: 0;
    padding: 60px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff9f5;
    box-sizing: border-box;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 346px;
        height: 343px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
        pointer-events: none;
    }

    &::before {
        left: -103px;
        top: -14px;
        opacity: 0.2;
        rotate: -13.84deg;
        background-image: url('../images/logo/cherry.svg');
    }

    &::after {
        right: -70px;
        opacity: 0.2;
        top: 149px;
        rotate: -13.84deg;
        background-image: url('../images/logo/cherry.svg');
    }
}

.notFound__title {
    margin: 0;
    padding: 0;
    font-family: 'Fixedsys', monospace;
    font-size: 100px;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    position: relative;
    z-index: 1;
}

.notFound__subtitle {
    margin: 25px 0;
    padding: 0;
    font-family: IgraSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    position: relative;
    z-index: 1;
}

.courseInfo {
    margin: 25px 0;
    padding: 0;
    max-width: 800px;
    position: relative;
    z-index: 1;
}

.courseDescription {
    margin: 0;
    padding: 0;
    font-family: IgraSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}

.notFound__content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.notFound__buttonWrapper {
    position: relative;
    z-index: 1;
    margin: 20px 0;
}

.notFound__link {
    padding: 0;
    text-decoration: none;
    color: var(--Accent, #465244);
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 15px 0 0 0;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .form {
        max-width: 100%;
        padding: 0 20px;
    }

    .form__title {
        font-size: 24px;
    }

    .textarea__label {
        font-size: 18px;
        line-height: 24px;
    }

    .textarea {
        font-size: 18px;
        line-height: 24px;
        border-radius: 20px;
        padding: 12px 15px;
    }

    .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0;
    }

    .subtitle {
        font-size: 45px;
        color: #fff;
        text-align: center;
    }

    .subtitle_2 {
        font-size: 30px;
        color: #fff;
        text-align: center;
    }

    .timer {
        font-size: 7cqmin;
        color: #fff;
    }

    .notFound__title {
        font-size: 60px;
        line-height: 97px;
    }

    .notFound__subtitle {
        font-size: 12px;
        line-height: 15px;
    }

    .courseInfo {
        margin: 20px 0;
        padding: 0 20px;
    }

    .courseDescription {
        font-size: 14px;
        line-height: 1.4em;
    }
}

@media screen and (max-width: 767px) {
    .form {
        padding: 0 10px;
    }

    .form__title {
        font-size: 20px;
    }

    .textarea__label {
        font-size: 14px;
        line-height: 18px;
    }

    .textarea {
        font-size: 14px;
        line-height: 18px;
        border-radius: 15px;
        padding: 10px 12px;
        min-height: 120px;
    }

    .notFound {
        padding: 40px 16px;

        &::before,
        &::after {
            display: none;
        }
    }

    .notFound__title {
        font-size: 45px;
        line-height: 97px;
    }

    .img {
        width: 300px;
        height: 160px;
    }
    .subtitle {
        font-size: 30px;
        color: #fff;
        text-align: center;
    }

    .subtitle_2 {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    .timer {
        font-size: 50px;
        color: #fff;
    }

    .courseInfo {
        margin: 20px 0;
        padding: 0 20px;
    }

    .courseDescription {
        font-size: 12px;
        line-height: 1.4em;
    }
}
