.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 41px 0 21px 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Fixedsys', monospace;
    font-size: 54px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    text-transform: uppercase;
    margin: 0 auto 56px auto;
    text-align: center;
}

.cards_wrapper {
    display: flex;
    justify-content: center;
    gap: 121.73px;
    margin-bottom: 44px;
}

.card {
    position: relative;
    width: 495.24px;
    display: flex;
    flex-direction: column;
}

.computer_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    pointer-events: none;
}

.card_content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 28px 0 23px 0;
}

.card_title {
    font-family: 'IgraSans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1em;
    color: #fff9f5;
    margin: 0;
}

.card_tag {
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #9ec4df;
    margin-bottom: 75px;
    text-align: left;
}

.card_features {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #410c0c;
    text-align: center;
    margin: 0;
    width: 100%;
}

.card_price {
    font-family: 'GoodHeadPro', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2em;
    color: #86020f;
    margin: 50px 0 22px 0;
}

.demo_button_wrapper {
    display: flex;
    justify-content: center;
}
