.popupFormContent {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 0;
}

.waitlistForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 95%;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
}

.form__success {
    padding: 15px;
    margin-top: 15px;
    background-color: #d4edda;
    color: #155724;
    border-radius: 8px;
    text-align: center;
    font-family: IgraSans;
    font-size: 14px;
}

.form__error {
    padding: 15px;
    margin-top: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 8px;
    text-align: center;
    font-family: IgraSans;
    font-size: 14px;
}


