.button {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 79px;
    // min-width: fit-content;
    border-top: 1px solid #5d020b;
    border-left: 1px solid #5d020b;
}

.button_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
}

.button_text {
    position: relative;
    font-family: 'Fixedsys', monospace;
    font-size: 40px;
    font-weight: 400;
    line-height: 1em;
    color: #410c0c;
    z-index: 1;
    margin: 0;
    padding: 0 30px 0 25px;
    white-space: nowrap;
}

.button_with_arrow .button_text {
    padding-right: 10px;
}

.button_arrow {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    padding: 10px 25px 0 0;
}

.button_cursor {
    position: absolute;
    right: 10px;
    bottom: -20px;
    z-index: 2;
    pointer-events: none;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:disabled:hover {
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .button {
        height: 45px;
        // width: 219px;
    }

    .button_text {
        font-size: 24px;
    }

    .button_arrow {
        width: 28px;
        height: 28px;
    }

    .button_cursor {
        width: 19px;
        height: 21px;
        bottom: -10px;
    }
}
