.window {
    position: relative;
    background: #fff9f5;
    border: 3px solid #86020f;
    box-sizing: border-box;
    overflow: hidden;

    @media screen and (max-width: 767px) {
        width: var(--mobile-width) !important;
        height: var(--mobile-height) !important;
    }
}

.window_with_cherry {
    &::before {
        content: '';
        position: absolute;
        left: -150px;
        bottom: -150px;
        width: 660px;
        height: 660px;
        background-image: url('../../images/logo/cherry.svg');
        background-size: 660px 660px;
        background-repeat: no-repeat;
        opacity: 0.3;
        z-index: 0;
        transform: rotate(-13.84deg);
        pointer-events: none;
    }
}

.window_header {
    position: relative;
    width: 100%;
    height: 42px;
    background: #9ec3df;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    box-sizing: border-box;
    z-index: 2;
}

.window_close {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
    color: #000000;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: 300;
}

.window_content {
    position: relative;
    padding: 15px;
    z-index: 2;
    min-height: calc(100% - 42px);
    box-sizing: border-box;
}

.window_no_header {
    .window_content {
        min-height: 100%;
    }

    .window_right {
        top: 0;
    }

    @media screen and (max-width: 767px) {
        .window_right {
            top: 0;
        }
    }
}

.window_right {
    position: absolute;
    top: 42px;
    right: 0;
    width: 12px;
    bottom: 0;
    background: #cd9da2;
    z-index: 1;
    pointer-events: none;
}

.window_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 12px;
    background: #cd9da2;
    z-index: 2;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .window_header {
        height: 22px;
    }

    .window_close {
        width: 15px;
        height: 15px;
        font-size: 18px;
    }

    .window_content {
        padding: 15px;
    }

    .window_right {
        width: 6px;
        top: 22px;
    }

    .window_bottom {
        height: 6px;
    }

    .window_with_cherry {
        &::before {
            display: none;
        }
    }
}
