.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    min-height: 523px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: border-box;
}

.title {
    font-family: 'Fixedsys', monospace;
    font-size: 40px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    // width: 680px;
}

.window_item {
    position: absolute;
    left: 230px;
    top: 93px;
    z-index: 1;
}

.window_item_second {
    position: absolute;
    right: 231px;
    bottom: 43px;
    z-index: 2;
}

.window_text {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    color: #000000;
    margin: 30px 0 30px 0;
    padding: 0;
    text-align: left;
}

.highlight {
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    color: #86020f;
}

.skills_list {
    margin-top: 0;
    padding: 0;
}

.skill_line {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
}

.tag_wrapper {
    position: absolute;
    right: 129px;
    bottom: 99px;
    z-index: 3;
}

.tag_cursor {
    display: inline-block;
    animation: blink 1s infinite;
    z-index: 10;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        min-height: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .window_item_second {
        position: static;
        margin: 0 auto;
    }

    .window_item {
        position: static;
        margin: 0 auto;
    }

    .window_text {
        font-size: 12px;
        margin: 0;
    }

    .highlight {
        font-size: 12px;
    }

    .skill_line {
        font-size: 12px;
    }

    .tag_wrapper {
        right: 29px;
        bottom: 25px;
    }
}
