.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    min-height: 523px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: border-box;
}

.title {
    font-family: 'Fixedsys', monospace;
    font-size: 40px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    width: 680px;
}

.window_item {
    position: absolute;
    left: 230px;
    top: 93px;
    z-index: 1;
}

.window_item_second {
    position: absolute;
    right: 231px;
    bottom: 43px;
    z-index: 2;
}

.window_wrapper {
    position: relative;
    width: 467px;
    height: 276px;
}

.window_wrapper_second {
    position: relative;
    width: 544px;
    height: 327px;
}

.window_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.window_content {
    position: absolute;
    top: 50px;
    left: 27px;
    right: 27px;
    z-index: 1;
    pointer-events: none;
}

.window_text {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    color: #000000;
    margin: 30px 0 30px 0;
    padding: 0;
    text-align: left;
}

.highlight {
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    color: #86020f;
}

.skills_list {
    margin-top: 0;
    padding: 0;
}

.skill_line {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
}

.comment_wrapper {
    position: absolute;
    right: 139px;
    bottom: 19px;
    z-index: 3;
}

.comment {
    position: relative;
    width: 215.14px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.comment_text {
    position: relative;
    z-index: 1;
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #410c0c;
    white-space: nowrap;
}

.tag_cursor {
    display: inline-block;
    animation: blink 1s infinite;
    z-index: 10;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        padding: 30px 20px;
    }

    .title {
        font-size: clamp(28px, 4vw, 40px);
        width: 90%;
        max-width: 680px;
        margin-bottom: 60px;
    }

    .content_wrapper {
        padding: 0 50px;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .window_item,
    .window_item_second {
        position: relative;
        left: auto;
        top: auto;
    }

    .window_wrapper {
        width: 100%;
        max-width: 467px;
        height: auto;
        aspect-ratio: 467 / 276;
    }

    .window_content {
        top: 50px;
    }

    .comment_wrapper {
        position: relative;
        right: auto;
        bottom: auto;
    }
}

@media screen and (max-width: 767px) {
    .container {
        min-height: auto;
        padding: 25px 15px;
    }

    .title {
        font-size: clamp(24px, 6vw, 36px);
        margin-bottom: 40px;
        width: 100%;
    }

    .content_wrapper {
        padding: 0 20px;
        gap: 20px;
    }

    .window_wrapper {
        max-width: 100%;
    }

    .window_text,
    .skill_line {
        font-size: 18px;
    }

    .comment {
        width: 180px;
        height: 140px;
    }

    .comment_text {
        font-size: 20px;
    }
}
