.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    min-height: 325px;
    margin: 0 auto;
    padding: 37px 0 71px 0;
    background: #ffffff;
    box-sizing: border-box;
}

.title {
    font-family: 'Fixedsys', monospace;
    font-size: 40px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    text-transform: uppercase;
    margin: 0 auto 73px auto;
    padding: 0;
    text-align: center;
}

.cards_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
    padding: 0 75px;
    box-sizing: border-box;
}

.card {
    position: relative;
    background: #ffffff;
    border: none;
    padding: 0;
    width: auto;
    min-height: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    flex: 0 1 auto;
}

.card:nth-child(1) {
    max-width: 329px;
}

.card:nth-child(2) {
    max-width: 310px;
}

.card:nth-child(3) {
    max-width: 298px;
}

.card_number {
    position: absolute;
    left: 32px;
    top: 19.42px;
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    margin: 0;
    padding: 0;
}

.card_text {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #000000;
    margin: 0;
    padding: 29.55px 0 0 57px;
    white-space: pre-line;
    text-align: left;
}

.card_tag {
    padding-top: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .cards_wrapper {
        flex-direction: column;
        padding: 0 20px;
        gap: 15px;
    }

    .card_tag_microlearning {
        // margin-right: auto !important;
        margin: 0;
    }

    .card_text {
        font-size: 12px;
    }
}
