.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    min-height: 325px;
    margin: 0 auto;
    padding: 37px 0 71px 0;
    background: #ffffff;
    box-sizing: border-box;
}

.title {
    font-family: 'Fixedsys', monospace;
    font-size: 40px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    text-transform: uppercase;
    margin: 0 auto 73px auto;
    padding: 0;
    text-align: center;
    width: 500px;
}

.cards_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 11px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
    padding: 0 75px;
    box-sizing: border-box;
}

.card {
    position: relative;
    background: #ffffff;
    border: none;
    padding: 0;
    width: auto;
    min-height: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    flex: 0 1 auto;
}

.card:nth-child(1) {
    max-width: 349px;
}

.card:nth-child(2) {
    max-width: 310px;
}

.card:nth-child(3) {
    max-width: 305px;
}

.card_number {
    position: absolute;
    left: 32px;
    top: 19.42px;
    font-family: 'Fixedsys', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    color: #86020f;
    margin: 0;
    padding: 0;
}

.card_text {
    font-family: 'IgraSans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    color: #000000;
    margin: 0;
    padding: 29.55px 0 0 57px;
    white-space: pre-line;
    text-align: left;
}

.tags_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding: 0;
    box-sizing: border-box;
    min-height: 160px;
}

@media screen and (max-width: 1023px) {
    .container {
        padding: 30px 20px;
    }

    .title {
        font-size: clamp(28px, 4vw, 40px);
        margin-bottom: 50px;
    }

    .cards_wrapper {
        gap: 30px;
        margin-bottom: 40px;
    }

    .card {
        max-width: 300px;
        padding: 25px 35px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        min-height: auto;
        padding: 25px 15px;
    }

    .title {
        font-size: clamp(24px, 6vw, 36px);
        margin-bottom: 30px;
    }

    .cards_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }

    .card {
        max-width: 100%;
        width: 100%;
    }

    .card_text {
        padding-left: 30px;
        font-size: 18px;
    }
}
