.container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.text {
    font-family: IgraSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    word-break: break-all;
    white-space: normal;
}
