.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 41px 0 21px 0;
    box-sizing: border-box;
}

.cards_wrapper {
    display: flex;
    justify-content: center;
    gap: 121.73px;
    margin-bottom: 44px;
}
