.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0 50px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../images/components/gradient.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// .cards_wrapper {
//     display: flex;
//     justify-content: center;
//     gap: 121.73px;
//     margin-bottom: 44px;
// }

.title {
    font-family: Fixedsys;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #86020f;
    margin: 0 0 59px 0;
}

.buttons {
    display: flex;
    gap: 42px;
    margin: 59px 0 0 0;
}
