.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0 50px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.8) 10%,
            rgba(255, 255, 255, 0) 20%
        ),
        url('../../../images/components/gradient.png');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

.title {
    font-family: Fixedsys;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #86020f;
    margin: 0 0 59px 0;
}

.buttons {
    display: flex;
    gap: 42px;
    margin: 59px 0 0 0;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 40px 0 30px 0;
    }

    .title {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
        margin: 30px 0 0 0;
    }

    .button {
        width: 266px;
    }
}
